reg_max.pkl_01.npy
reg_max.pkl_02.npy
reg_max.pkl_05.npy
reg_max.pkl_03.npy
reg_max.pkl_06.npy
reg_max.pkl_04.npy
reg_max.pkl_07.npy
reg_max.pkl_08.npy
reg_max.pkl_09.npy
reg_max.pkl_10.npy
.ipynb_checkpoints/scikit_svm-checkpoint.ipynb
reg_max.pkl_11.npy
untitled.txt
.ipynb_checkpoints/svm_scratch-checkpoint.ipynb
reg_max.pkl
